<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<configuration>

	<properties>
	
		<property name="temp_file_name">logs/tempApp.log</property>
		<property name="rolling_file_name">logs/AppLog.log</property>
		<property name="rolling_file_pattern">logs/AppLog_%d{yyyy_MM_dd}.log</property>
		<property name="every_file_time">5</property>
		<property name="every_file_size">10M</property>
		<property name="log_level">debug</property>
		<property name="log_pattern">%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5level] %msg  --> %l tid=%T%n</property>
		
	</properties>
  
	<appenders>
		
		<!-- 临时调试：不追加   -->
		<File name="TempFile" fileName="${temp_file_name}" append="false">
			<PatternLayout pattern="${log_pattern}" />
		</File>
		
		<RollingFile name="RollingFile" fileName="${rolling_file_name}" filePattern="${rolling_file_pattern}">
			
			<PatternLayout pattern="${log_pattern}"/>
			
			<policies>
				<TimeBasedTriggeringPolicy interval="24" modulate="true"/>
            	<SizeBasedTriggeringPolicy size="${every_file_size}" />
			</policies>
			
		</RollingFile>
		
		<console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="${log_pattern}"></PatternLayout>
		</console>
	</appenders>
	
	<loggers>
		<root level="${log_level}">
			<appender-ref ref="Console" />
			<appender-ref ref="RollingFile" />
			<appender-ref ref="TempFile" />
		</root>
	</loggers>
	
</configuration>